.btn-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
#span-timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin: 10px;
  background-color: crimson;
  color: aliceblue;
  font-weight: 800;
  font-size: 18px;
  border-radius: 16%;
}

#btn-start {
  background-color: rgb(52, 235, 174);
  color: black;
}

button:hover {
  cursor: pointer;
  font-size: 20px;
  box-shadow: 2px 2px 4px grey;
}
